<mat-nav-list class="sidenav-list">
         <a mat-list-item routerLink="/signin" (click)="ontoggleClose()">
            <mat-icon>input</mat-icon>
            <span>SignIn</span>
        </a>
        <a mat-list-item routerLink="/signup" (click)="ontoggleClose()">
            <mat-icon>account_circle</mat-icon>
            <span>SignUp</span>
        </a>
        <a mat-list-item routerLink="/accomodation" (click)="ontoggleClose()">
            <mat-icon>hotel</mat-icon>
            <span>Accomodation</span>
        </a>
        <a mat-list-item routerLink="/offers" (click)="ontoggleClose()">
            <mat-icon>loyalty</mat-icon>
            <span>Offers</span>
        </a>
</mat-nav-list>