<div class="container">

    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">Book Now</button>
        </div>
    </div>

<div class="header-container"  fxLayout="row" fxLayoutAlign="center center">
    <div>
        <h1 class="mat-display-3">Are you going on a trip soon? </h1>
        
        <h3 class="mat-display-1">Save your best ideas in one place with the Trips feature. </h3>
    </div>  
</div>
</div>